<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%= group %></title>
    <style type="text/css">

        * {
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: 0 auto;
        }

        h3 {
            margin: 20px;
        }

        @media screen and (max-width: 600px) {
            .container {
                width: 100%;
            }

            h3 {
                font-size: 15px;
                margin: 10px;
            }
        }

        .CodeMirror {
            min-height: 700px;
            border-right: solid 1px #cccccc;
            border-top: solid 1px #cccccc;
            border-bottom: solid 1px #cccccc;
        }
    </style>
    <link rel="stylesheet" href="/public/stylesheets/codemirror.css">
</head>
<body>

<div class="container">
    <h3><span>房间编号：</span><span><%= group %></span></h3>
    <textarea id="editor"><%= code %></textarea>
</div>

<script type="text/javascript" src="/public/javascripts/socket.io-1.4.5.js"></script>
<script type="text/javascript" src="/public/javascripts/codemirror.js"></script>

<script type="text/javascript">

    var codeUpdated = true;
    var codeSent = true;

    var socket = io();

    socket.emit('join', '<%= group %>')

    socket.on('sent', function () {
        codeSent = true;
    });

    var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
        lineNumbers: true
    });

    CodeMirror.on(editor, 'change', function () {
        if (codeUpdated && codeSent) {
            codeSent = false;
            var code = editor.getValue();
            socket.emit('code', code);
        }
    });

    socket.on('code', function (code) {
        codeUpdated = false;
        var cur = editor.getCursor();
        editor.setValue(code);
        editor.setCursor(cur);
        codeUpdated = true;
    });
</script>
</body>
</html>